[Unit]
Description=xkeysnail

[Service]
Type=simple
KillMode=process
ExecStartPre=/bin/bash -c "xhost +"
ExecStart=/usr/bin/sudo -H /bin/bash /etc/systemd/system/keyboardmap.service.d/keyboardmap.sh
ExecStop=/usr/bin/sudo /usr/bin/killall xkeysnail
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:0

[Install]
WantedBy=graphical.target
